{% extends 'eighthConference/base.html' %}
{% block content %}
{% load static %}
<h1> Manuscript Detail</h1>
    <a href="{{ post.file.url }}"> <img src="{{ post.fileImg.url }}" class="post"> </a>
<br>
<div class="detail">
     <small> Posted at {{post.post_date}} by {{ post.author }}</small>
    <h3>{{post.title}}</h3>
    <p>Category : {{post.category}}</p>
<small>{%if  post.ispaperoriginal %} All contents of this paper original {% endif %} </small>
    <p></p>
<small>{%if  post.published %} Paper has been previously published {% endif %}</small>
<p></p>
<small>{%if  post.undercosideration %} Paper is under consideration {% endif %} </small>
<p></p>
<small>{%if  post.containcopyright %} Paper contain copyrighted material <i class="far fa-registered"></i> {% endif %}</small>
<p></p>
</div> </a>

<h3> Comments {{comments.count}} </h3>
<div class="detail">
    {% for comment in comments %}
    <small> <div class="auther">Comment by  {{comment.name}}</div> at {{comment.comment_date|date:'d-m-y'}}</small>
        <div class="comment"> {{comment.body}} </div>
    {% endfor %}
    <h3> Add Comment</h3>
    <form method="POST">
        {% csrf_token %}
        {{comment_form.as_p}}
        <input type="submit" value="Comment">
    </form>
</div>
{% endblock content %}